/* Global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

img {
    width: 70px
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
    background: #efefef;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #2BD480;
}


/* Navigation */

header:before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

.navigation {
    width: 100vw;
    height: 80px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: top ease-in-out 0.5s;
}


.navigation .nav__section {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    max-width: 100vw;
}

.navigation .links-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    list-style: none;

}


.links-header li a {
    text-decoration: none;
    margin: 15px;
    color: #2BD480

}

.navigation .links-header a:hover {
    color: #157a06
}

.sub-menu {
    display: block;
    list-style: none;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 210px;
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 50px;
    right: 260px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease;
}

.sub-menu-item {
    margin-bottom: 10px;
}

.sub-menu-container:hover .sub-menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.sub-menu:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.fa-angle-down {
    transform: rotate(-90deg);
    transition: transform .3s ease;
}


.sub-menu-container:hover .fa-angle-down {
    transform: rotate(0)
}


.hamburguer {
    display: none;
}

.logo {
    margin-left: 30px;
}

.logo a img{
    width: 80px;
}


/* ShowCase */

.container-showcase {
    min-height: 100vh;
    background: url("../IMAGES/bg-header.jpg");
    background-size: cover;
    background-position: center;
}

.container-showcase .content-showcase {
    flex-basis: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 50px;
}

.title {
    margin-top: 60px;
    color: #ffffff;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

/* About Us */

.container-nosotros {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-nosotros h2 {
    align-self: center;
    margin-top: 20px;
    line-height: 1;
    font-size: 50px;
    border-bottom: 5px solid #000000;
}

.nosotros-content {
    display: flex;
}

.nosotros__img {
    margin: 25px 25px 25px 25px;
}

.nosotros__img p {
    text-align: center;
}

.nosotros__img img {
    width: 350px;
}

.nosotros__descripcion {
    margin: 100px 100px 0 100px;
    font-size: 22px;
    text-align: center;
}

/* Transition One */

.transition-one {  
    width: 100%;
    height: 500px;
    background: #1192EE;
    background-image: url("../IMAGES/transition\ img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 57%, 0 6%, 100% 38%, 100% 84%);
    opacity: .7;

}

/* Creencias */

.creencias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.creencias h2 { 
    font-size: 50px;
    line-height: 1;
    border-bottom: 5px solid #000000;
    margin-bottom: 20px;
}

.creencias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.creencias-container div {
    margin: 50px 50px 20px 50px;
    width: 150px;  
}

.creencias-lista li {
    list-style: none;
    margin-top: 10px;
}

.creencias .btn  {
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 60px;
    width: 300px;
    transition: background .2s ease; 
}

.creencias .btn a {
    color: #2BD480;
    font-weight: 700;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.creencias .btn:hover {
    background: #e0e0e0f0;
}


/* Transition two */

.transition-two {
    width: 100%;
    height: 500px;
    background: #1192EE;
    background-image: url("../IMAGES/transition\ img.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    clip-path: polygon(0 83%, 0 48%, 100% 29%, 100% 64%);
    opacity: .7;
}

/* Actividades */

.actividades {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.actividades h2 {
    align-self: center;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 50px;
    border-bottom: 5px solid #000000;
}

.actividades-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.actividad{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-align: center;    
    justify-content: center;
    background-color: #EFE9F4;
    color: #ffffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    border-radius: 30px;
    width: 382px;
    height: 300px;
}

.actividad.act1 {
    background: url("../IMAGES/Final-Foto.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.actividad.act2 {
    background: url("../IMAGES/mision-caleb-puente.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.actividad.act3 {
    background: url("../IMAGES/40-madrugadas.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.actividad h3 {
    font-size: 30px;
    transition: font-size .5s ease, margin-bottom .5s ease;
}

.actividad p {
    opacity: 0;
    font-size: 23px;
    transition: opacity .5s ease;
    display: inline-block;
    background: #000;
    border-radius: 20px;
}

.actividad:hover h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.actividad:hover p{
    opacity: 1;
}
/* GP */

.grupos-pequeños {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.grupos-pequeños h2 {
    font-size: 50px;
    line-height: 1;
    border-bottom: 5px solid #000000;
    margin-bottom: 70px;
    text-align: center;
}

.grupos-pequeños-descripción {
    font-size: 20px;
}

.grupos-pequeños-imgs {
    padding: 30px;
}

.grupo {
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.grupos-pequeños-imgs img {
    width: 800px;
    border-radius: 20px;
    
}


/* Footer */

.footer {
    background: #8ecae6;
    height: 900px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer h2 {
    margin-top: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center
}

.footer ul li {
    list-style: none;
    font-size: 26px;
    margin-top: 20px;
    margin-left: 20px;
}

.footer ul li:first-child {
    color: #5165ff;
    font-weight: bolder;
}

.footer ul li:nth-child(2) b:first-child {
    color: #5165ff;
}

span {
    color: #000000
}

#encuentranos {
    padding: 20px 20px 70px 20px;
    border: 5px solid #2BD480;
}

.facebook-icon {
    text-align: center;
    margin-left: 20px;
}


.fa-facebook-square {
    font-size: 100px;
    color: #ffffff;
    transition: color .3s ease;
}

.fa-facebook-square:hover {
    color: #e0e0e0f0;

}

#encuentranos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#map{
    display: inline-block;
    margin: 30px 0 30px 0;
}

#map iframe {
    padding-left: 10px;
    border-radius: 20px;
    width: 500px;
    height: 400px;
} 

/* Foto final */

.foto-final {
    width: 100%;
    height: 900px;
    background: url("../IMAGES/Final-Foto.jpg");
    background-size: cover;
    background-position: center;
}

/* Adaptando Pantallas */

@media screen and (max-width: 1150px) {
    .title {
        font-size: 40px;
        margin-top: 150px;
    }   

    .nosotros__img {
        margin-top: 60px;
    }

    .nosotros__img img {
        width: 300px;
    }

    .nosotros__descripcion {
        font-size: 19px;
    }

    .actividad h3 {
        font-size: 21px;
    }

}

@media screen and (max-width: 850px) {
    .links-header li a {
        font-size: 15px;
    }
}
 
@media screen and (max-width: 770px) {
    
    .fa-angle-down {
        display: none;
    }

    .title {
        font-size: 30px;
    }

    .hamburguer {
        display: flex;
        color: rgb(0, 0, 0);
        width: 100%;
        height: 75px;
        font-size: 50px;
        padding: 15px 0 0 650px;
        background: #fff;
        position: fixed;
        top: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 1000;
        max-width: 100vw;
    }

    .hamburguer i {
        position: fixed;
        padding-top: 0;
        right: 20px;
        z-index: 10000;
        cursor: pointer;
    }

    header:before {
        content: "";
        display: none;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        min-height: 100vh;
        background: #000000;
        z-index: 1000000;
        transform: translateX(-500px);
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding-right: 33px;
        padding-top: 10px;
    }

    .nav__section {
        display: flex;
        flex-direction: column;
    }

    .links-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 110px;
    }

    .links-header li {
        margin-top: 40px;
    }

    .links-header li a {
        font-size: 30px;
    }

    .sub-menu {
        display: none;
    }

    .nosotros-content {
        flex-direction: column;
        text-align: justify;
    }

    .nosotros__img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 650px) {
    #encuentranos {
        font-size: 12px;
        border: none;
    }

    #encuentranos h2 {
        margin-left: 15px;
    }

    .grupos-pequeños h2 {
        font-size: 40px;
    }

}

@media screen and (max-width: 480px) {

    .title {
        font-size: 25px;
    }

    .nosotros__descripcion {
        margin: 0;
        padding: 0;
    
    }

    .footer #encuentranos h2 {
        font-size: 35px;;
    }


    #map {
        height: 390px;
        width: 390px;
    }

    #map iframe {
        height: 390px;
        width: 390px;
        margin-right: 10px;
    }

    .facebook-icon {
        margin-bottom: 120px;
    }

}

@media screen and (max-width: 370px) {


    .actividad p{
        font-size: 20px;
        display: flex;
        align-items: center;
        width: 320px;
        height: 250px;
    }

    .contactos ul{
        margin-left: 20px;
    }

    .contactos ul li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contactos .contactos__li {
        font-size: 19px;

    }

    .contactos .contactos__li--second-child {
        font-size: 23px;
    }

    #map iframe {
        width: 350px;
        margin: 10px 10px 10px 15px;
    }
}


/* MINISTERIOS */

/* Slider */

.container-slider {
    width: 100vw;
}

.slider, .slide {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider .slide {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s ease;
    opacity: 0;
}

.container-slider img {
    width: 100vw;
    margin-top: 110px;
    height: calc(100vh - 150px);
    object-fit: cover;
    object-position: center;
}

.slide:nth-child(1) {
    opacity: 1;
}

#slide5 {
    object-position: left;
}

#slide6 {
    object-position: top;
}


.ministries-title {
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #ffffff;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    margin-top: 200px;
}

.ministries-container {
    display: flex;
    flex-direction: column;
}

.list-of-ministries-title {
    align-self: center;
    margin-top: 600px;
    font-size: 50px;
}

.ministry {
    margin: 20px;

}

.ministry h3 {
    font-size: 30px;
}

.ministry p {
    font-size: 18px;
}

.collage-container {
    position: relative;
    max-width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;

}

.collage-container .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: clip-path .5s ease;
    border-radius: 10px;
}

.collage-container .clip.clip1 {
    background: url("../IMAGES/ministries/ministerio-joven.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}

.collage-container .clip.clip2 {
    background: url("../IMAGES/ministries/club-de-conquistadores.png");
    background-size: cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}

.collage-container .clip.clip3 {
    background: url("../IMAGES/ministries/Club-uziel-completo.jpg");
    background-size: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.collage-container:hover > .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.collage-container .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    background-color: #ffffff;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path .5s ease;
    font-size: 30px;
}

.collage-container .clip:hover > .content {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}


.leader-photo {
    position: relative;
    max-width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background: url("../IMAGES/ministries/lideres-jovenes.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.leader-photo:hover > .content {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.personalM-leader-photo {
    position: relative;
    max-width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    background: url("../IMAGES/ministries/lider-ministerio-personal.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.personalM-leader-photo:hover > .content {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.woman-ministry-description {
    line-height: 1.7;
}

.womanM-leader-photo {
    position: relative;
    max-width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    background: url("../IMAGES/ministries/lider-ministerio-mujer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.womanM-leader-photo:hover > .content {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.minorM-leader-photo {
    position: relative;
    max-width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    background: url("../IMAGES/ministries/lider-ministerio-menor.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.minorM-leader-photo:hover > .content {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.home-familyM-leader-photo {
    background: url("../IMAGES/ministries/home&family-ministry.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 700px;
    height: 700px;
    margin: 20px auto;
    border-radius: 10px;
}

.home-familyM-leader-photo:hover > .content {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.singingM-leader-photo {
    background: url("../IMAGES/ministries/lider-ministerio-canto.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 700px;
    height: 700px;
    margin: 20px auto;
    border-radius: 10px;
}

.singingM-leader-photo:hover > .content {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

@media screen and (max-width: 528px) {
    .ministries-title {
        font-size: 60px;
    }

    .list-of-ministries-title {
        font-size: 40px;
    }

    .content h3{
        font-size: 25px;
    }
}

@media screen and (max-width: 380px)  {
    .ministries-title {
        font-size: 50px;
    }

    .list-of-ministries-title {
        font-size: 30px;

    }

    .collage-container .clip .content h3  {
        font-size: 20px;
    }
}